@import "../../main.scss";

.user {
    color: $color-backgroundLight;
    margin-bottom: 3.3rem;
    position: relative;
    top: 22px;

    &__title {
        margin-top: 0;
    }

    &__editButton {
        border-color: $color-tertiary;
        background-color: $color-tertiary;
        color: $color-backgroundLight;
        font-weight: bold;
        padding: 10px;
        cursor: pointer;
    }
}

.userAccount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    background-color: $color-backgroundLight;
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
    padding: 1.5rem;
    box-sizing: border-box;
    text-align: left;
    margin-bottom: 2rem;

    @media screen and (min-width: 720px) {
        flex-direction: row;
    }

    &__content {
        width: 100%;
        flex: 1;

        &__title {
            margin: 0;
            padding: 0;
            font-size: 1rem;
            font-weight: normal;
        }

        &__amount {
            margin: 0;
            font-size: 2.5rem;
            font-weight: bold;
        }

        &__amountDescription {
            margin: 0;
        }

        &.cta {
            @media screen and (min-width: 720px) {
                flex: 0;
            }
        }

        &__transactionButton {
            display: block;
            width: 100%;
            padding: 8px;
            font-size: 1.1rem;
            font-weight: bold;
            margin-top: 1rem;
            border-color: $color-tertiary;
            background-color: $color-tertiary;
            color: $color-backgroundLight;
            cursor: pointer;

            @media screen and (min-width: 720px) {
                width: 200px;
            }
        }
    }
}