@import "../../utils/colors";

.user {
    color: $color-backgroundLight;
    margin-bottom: 3.3rem;
    position: relative;
    top: 22px;

    &__title {
        margin-top: 0;
    }

    &__editButton {
        border-color: $color-tertiary;
        background-color: $color-tertiary;
        color: $color-backgroundLight;
        font-weight: bold;
        padding: 10px;
        cursor: pointer;
    }
}