@import "../../main.scss";

.login {
    box-sizing: border-box;
    background-color: $color-backgroundLight;
    width: 300px;
    margin: 0 auto;
    padding: 2rem;
    position: absolute;
    top: 3rem;
    left: 0;
    right: 0;

    &__icon {
        font-size: 5rem;
    }

    &__form {

        &__inputWrapper {
            display: flex;
            flex-direction: column;
            text-align: left;
            margin-bottom: 1rem;

            & label {
                font-weight: bold;
            }

            & input {
                padding: 5px;
                font-size: 1.2rem;
            }
        }

        &__inputRemember {
            display: flex;

            & input {
                cursor: pointer;
            }

            & label {
                margin-left: 0.25rem;
            }
        }

        &__button {
            display: block;
            width: 100%;
            padding: 8px;
            font-size: 1.1rem;
            font-weight: bold;
            margin-top: 1rem;
            border-color: $color-tertiary;
            background-color: $color-tertiary;
            color: $color-backgroundLight;
            cursor: pointer;
        }
    }
}